:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gold: #d9b45a;
  --color-gold-light: #f7e7a6;
  --color-purple-deep: #0b0512;
  --color-purple-dark: #110818;
  --color-purple: #160c22;
  --color-green: #2ee6a6;
  --color-red: #ef4444;
}
